<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upcoming Events</title>
    <link rel="icon" type="image/svg+xml" href="/flask_template_lab/images/calendar.svg">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    
</head>
<body>
    <header>
        <h1>Upcoming events</h1>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/events">Upcoming Events</a>
            </li>
            <li>
                <a href="/events/new">Create Event</a>
            </li>
        </ul>
    </header>
    <main>
        {% block content %}
            
        {% endblock %}
    </main>
    <footer>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/events">Upcoming Events</a>
            </li>
            <li>
                <a href="/events/new">Create Event</a>
            </li>
        </ul>
    </footer>
</body>
</html>