{% extends 'base.html' %}

{% block content %}
    <h2>Create Event</h2>
    
    <form action="/events" method="post">
        <label for="date">Event Date</label>
        <input type="date" name="date", id="date">
        <label for="event_name">Event Name</label>
        <input type="text" name="event_name" id="event_name" placeholder="Meeting">
        <label for="guest_no">Guest Number</label>
        <input type="text" name="guest_no" id="guest_no" placeholder="10">
        <label for="room_location">Room Location</label>
        <input type="text" name="room_location" id="room_location" placeholder="Office">
        <div id="recurring-container">
            <input type="checkbox" name="recurring" id="recurring">
            <label for="recurring">Recurring event?</label>
        </div>
        <textarea name="description" id="description" cols="30" rows="10" placeholder="Add a description here"></textarea>
        <input type="submit" value="Create Event">
    </form>
{% endblock %}